@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

@mixin style-box {
  padding: toRem(0) toRem(10) toRem(10) toRem(10);
  border-width: toRem(1);
  border-style: solid;
  border-color: gray;
}


.grid__container {
  display: grid;
  grid-template-areas:
    "header header header header header header header header"
    "menu1 menu1 menu2 menu2 menu3 menu3 right right"
    "footer footer footer footer footer footer right right"
    "footer footer footer footer footer footer right right"
    "footer footer footer footer footer footer right right"
    "footer footer footer footer footer footer right right"
    "footer footer footer footer footer footer right right";

  gap: 20px;
  background-color: #fff;
  padding: 6px;
  text-align: start;
  text-indent: toRem(3);
  font-size: 15px;
  font-family: "Roboto", sans-serif;

  &-item1 {
    grid-area: header;
    background-color: rgba(124, 112, 112, 0.645);
    @include style-box;


    & h4 {
      text-align: center;
    }
  }
  &-item2 {
    display: grid;
    flex-direction: column;
    grid-area: menu1;
    background-color: rgb(255, 255, 255);
    padding: toRem(8);
    @include style-box;

    &--wrap {
      display: grid;
      justify-items: center;

      [id="button-small"] {
        width: toRem(120);
        height: toRem(33);
        border: none;
        background-color: rgba(124, 112, 112, 0.645);
        margin-bottom: 2rem;
      }
    }
  }
  &-item3 {
    grid-area: menu2;
    background-color: rgba(255, 255, 255, 0.8);
    @include style-box;

    &--wrap {
      display: grid;
      grid-template-areas:
        "description1 function1"
        "description2 function2"
        "description3 function3"
        "description4 function4"
        "description5 function5";
      gap: 10px; 
      padding: 10px;
      text-align: center;

      &---item1 {
        grid-area: description1;
      }
      &---item2 {
        grid-area: description2;
      }
      &---item3 {
        grid-area: description3;
      }
      &---item4 {
        grid-area: description4;
      }
      &---item5 {
        grid-area: description5;
      }

      &---item6 {
        grid-area: function1;
      }
      &---item7 {
        grid-area: function2;
      }
      &---item8 {
        grid-area: function3;
      }
      &---item9 {
        grid-area: function4;
      }
      &---item10 {
        grid-area: function5;
      }
    }
  }
  &-item4 {
    grid-area: menu3;
    background-color: rgba(255, 255, 255, 0.8);
    @include style-box;
  }
  &-item5 {
    grid-area: right;
    background-color: rgba(255, 255, 255, 0.8);
    @include style-box;

    &--wrap {
      display: grid;
      grid-template-areas:
        "description1 function1"
        "description2 function2"
        "description3 function3"
        "description4 function4"
        "description5 function5"
        "description6 function6"
        "description7 function7"
        "description8 function8"
        "description9 function9"
        "description10 function10"
        "description11 function11"
        "description12 function12"
        "description13 function13"
        "description14 function14"
        "description15 function15"
        "description16 function16"
        "description17 function17"
        "description18 function18"
        "description19 function19";
      gap: 10px;
      padding: 10px;
      text-align: center;

      &---item1 {
        grid-area: description1;
      }
      &---item2 {
        grid-area: description2;
      }
      &---item3 {
        grid-area: description3;
      }
      &---item4 {
        grid-area: description4;
      }
      &---item5 {
        grid-area: description5;
      }
      &---item6 {
        grid-area: description6;
      }
      &---item7 {
        grid-area: description7;
      }
      &---item8 {
        grid-area: description8;
      }
      &---item9 {
        grid-area: description9;
      }
      &---item10 {
        grid-area: description10;
      }
      &---item11 {
        grid-area: description11;
      }
      &---item12 {
        grid-area: description12;
      }
      &---item13 {
        grid-area: description13;
      }
      &---item14 {
        grid-area: description14;
      }
      &---item15 {
        grid-area: description15;
      }
      &---item16 {
        grid-area: description16;
      }
      &---item17 {
        grid-area: description17;
      }
      &---item18 {
        grid-area: description18;
      }
      &---item19 {
        grid-area: description19;
      }

      &---item20 {
        grid-area: function1;
      }
      &---item21 {
        grid-area: function2;
      }
      &---item22 {
        grid-area: function3;
      }
      &---item23 {
        grid-area: function4;
      }
      &---item24 {
        grid-area: function5;
      }
      &---item25 {
        grid-area: function6;
      }
      &---item26 {
        grid-area: function7;
      }
      &---item27 {
        grid-area: function8;
      }
      &---item28 {
        grid-area: function9;
      }
      &---item29 {
        grid-area: function10;
      }
      &---item30 {
        grid-area: function11;
      }
      &---item31 {
        grid-area: function12;
      }
      &---item32 {
        grid-area: function13;
      }
      &---item33 {
        grid-area: function14;
      }
      &---item34 {
        grid-area: function15;
      }
      &---item35 {
        grid-area: function16;
      }
      &---item36 {
        grid-area: function17;
      }
      &---item37 {
        grid-area: function18;
      }
      &---item38 {
        grid-area: function19;
      }
    }
  }
  &-item6 {
    grid-area: footer;
    background-color: rgba(255, 255, 255, 0.8);
    @include style-box;
  }
}
